* {
  font-family: 'Exo 2', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 7px;
  padding: 3rem 3rem;
  z-index: 10;
  background: #003977;
}

header .img-fluid {
  max-width: 100%;
  height: auto;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav ul .li {
  margin: 1rem 1.5rem;
}

header nav ul li a {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}

header nav ul li a:hover {
  background: #f4fc53;
}

#home {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  background: url(images/img.jpg);
  background-size: cover;
  padding-top: 5rem;
  position: relative;
  text-align: center;
}

#home h1 {
  font-size: 6rem;
  margin: 0 .5rem;
  color: #fff;
}

#home h1 .span {
  color: #f4fc53;
}

#home h3 {
  font-size: 3rem;
  color: white;
  margin: 1rem 0;
}

#home button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 10px;
  padding: 15px 20px;
  border: 2px solid #f4fc53;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  display: inline-block;
}

#home button:hover {
  background: #003977;
}

#feature {
  height: auto;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #003977;
}

#feature h1 {
  color: #fff;
  font-size: 4rem;
  margin: 2rem 0;
}

#feature .card-container {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 2rem 0;
}

#feature .card-container .card {
  width: 30rem;
  height: 40rem;
  margin: 2rem;
  background: #fff;
}

#feature .card-container .card .content {
  height: 50%;
  width: 100%;
  text-align: center;
}

#feature .card-container .card .content h1 {
  color: #E6022D;
  font-size: 2.5rem;
  margin: 1rem 0;
}

#feature .card-container .card .content button {
  height: 4rem;
  width: 14rem;
  background: transparent;
  border: 0.2rem solid #f4fc53;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
  font-weight: bold;
  margin: 1rem 0;
}

#feature .card-container .card .content p {
  font-size: 1.2rem;
  padding: .5rem;
}

#feature .card-container .card .content button:hover {
  background: #003977;
  color: #fff;
}

#feature .card-container .card:hover {
  -webkit-transform: translateY(-3rem);
  transform: translateY(-3rem);
  -webkit-box-shadow: 0 0 1rem #333;
  box-shadow: 0 0 1rem #333;
}

#about {
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.content h1 {
  font-size: 4rem;
  margin: 3rem 0;
  color: black;
}

.content h1 .h1 span {
  color: #f4fc53;
}

#gallery {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: auto;
  width: 100vw;
  background: #f7f7f7;
}

#gallery h1 {
  text-align: center;
  font-size: 4rem;
  color: #f4fc53;
  margin: 2rem 0;
}

#gallery .image-container {
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#gallery .image-container .image {
  height: 25rem;
  width: 30rem;
  margin: 2rem;
  overflow: hidden;
  position: relative;
}

#gallery .image-container .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#gallery .image-container .image .info {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  bottom: -100%;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
}

#gallery .image-container .image .info button {
  height: 4rem;
  width: 14rem;
  background: transparent;
  border: 0.2rem solid #f4fc53;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

#gallery .image-container .image .info button .info button:hover {
  background: #003977;
  color: #fff;
}

#gallery .image-container .image .info button .image:hover .info {
  bottom: 0%;
}

#contact {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  overflow: hidden;
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

#contact .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

#contact form h1 {
  color: #003977;
  font-size: 4rem;
  margin-bottom: 120px;
}

#contact form input {
  height: 4rem;
  background: transparent;
  margin: 2rem 0;
  padding: 0 1rem;
  border: 0.2rem solid #f4fc53;
  outline: none;
  color: #fff;
  font-weight: bold;
  width: 40vw;
}

#contact form input::-webkit-input-placeholder {
  color: #ccc;
}

#contact form input:-ms-input-placeholder {
  color: #ccc;
}

#contact form input::-ms-input-placeholder {
  color: #ccc;
}

#contact form input::placeholder {
  color: #ccc;
}

#contact form input:focus {
  background: #003977;
}

#contact form input[type="submit"] {
  height: 4rem;
  width: 14rem;
  background: transparent;
  border: 0.2rem solid #f4fc53;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #003977;
  font-weight: bold;
  background: #003977;
  color: #fff;
}

#contact form input[type="submit"]:hover {
  background: #003977;
  color: #fff;
}

#contact form input[type="submit"]:hover {
  background: transparent;
}

#contact form textarea {
  resize: none;
  background: transparent;
  outline: none;
  padding: 1rem;
  color: #fff;
  border: 0.2rem solid #f4fc53;
  font-weight: bold;
}

#contact form textarea::-webkit-input-placeholder {
  color: #ccc;
}

#contact form textarea:-ms-input-placeholder {
  color: #ccc;
}

#contact form textarea::-ms-input-placeholder {
  color: #ccc;
}

#contact form textarea::placeholder {
  color: #ccc;
}

#contact form textarea:focus {
  background: #003977;
}

#contact .image img {
  height: 80vh;
  width: 30vw;
  margin-top: 16rem;
}

#footer {
  height: auto;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #333;
}

#footer .msg {
  text-align: center;
  color: #fff;
  margin: 2rem 0;
}

#footer .msg span {
  color: #003977;
}

#footer .footer-container {
  height: auto;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#footer .footer-container .brand {
  margin: 3rem 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25rem;
  flex: 1 0 25rem;
}

#footer .footer-container .brand .logo {
  margin: 1rem 0;
}

#footer .footer-container .brand .logo a {
  text-decoration: none;
}

#footer .footer-container .brand .logo a h1 {
  font-size: 3rem;
  color: #fff;
}

#footer .footer-container .brand .logo a h1 span {
  color: #003977;
}

#footer .footer-container .brand .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

#footer .footer-container .brand .icons a {
  text-decoration: none;
  color: #003977;
  font-size: 3rem;
  margin: .5rem 0;
  position: relative;
}

#footer .footer-container .brand .icons a::after {
  content: attr(data-text);
  position: absolute;
  top: .8rem;
  left: 3.5rem;
  font-family: 'Exo 2',sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #fff;
}

#footer .footer-container .contact-info {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25rem;
  flex: 1 0 25rem;
}

#footer .footer-container .contact-info .info {
  height: 16rem;
  width: 5rem;
  background: #003977;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

#footer .footer-container .contact-info .info a {
  font-size: 2rem;
  text-decoration: none;
  margin: 2rem 0;
  color: #fff;
  position: relative;
}

#footer .footer-container .contact-info .info a::after {
  content: attr(data-text);
  position: absolute;
  top: .5rem;
  left: 5.5rem;
  width: 20rem;
  text-align: left;
  font-family: 'Exo 2',sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #fff;
}

#footer .footer-container .letter {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 25rem;
  flex: 1 0 25rem;
  margin-top: 1rem;
}

#footer .footer-container .letter h1 {
  font-size: 3rem;
  color: #003977;
}

#footer .footer-container .letter p {
  color: #fff;
  margin: 1rem 0;
  font-size: 1.5rem;
}

#footer .footer-container .letter input {
  height: 4rem;
  background: transparent;
  margin: 1rem 0;
  padding: 0 1rem;
  border: 0.2rem solid #a3a3a3;
  outline: none;
  color: #fff;
  font-weight: bold;
  width: 100%;
}

#footer .footer-container .letter input::-webkit-input-placeholder {
  color: #ccc;
}

#footer .footer-container .letter input:-ms-input-placeholder {
  color: #ccc;
}

#footer .footer-container .letter input::-ms-input-placeholder {
  color: #ccc;
}

#footer .footer-container .letter input::placeholder {
  color: #ccc;
}

#footer .footer-container .letter input:focus {
  background: #003977;
}

#footer .footer-container .letter input[type="submit"] {
  height: 4rem;
  width: 14rem;
  background: transparent;
  border: 0.2rem solid #f4fc53;
  outline: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #003977;
  font-weight: bold;
  background: #003977;
  color: #fff;
}

#footer .footer-container .letter input[type="submit"]:hover {
  background: #003977;
  color: #fff;
}

#footer .footer-container .letter input[type="submit"]:hover {
  background: transparent;
}

.fa-times {
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.active {
  background: #333;
  -webkit-box-shadow: 0 .1rem .3rem #000;
  box-shadow: 0 .1rem .3rem #000;
  padding: 1rem;
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 40%;
  }
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #about .image img {
    width: 70vw;
  }
  #about .content {
    text-align: center;
  }
  #about .content p {
    padding: 2rem;
  }
  #about .content .buttons {
    padding: 0;
  }
  #contact .image {
    display: none;
  }
  #contact form input {
    width: 90vw;
  }
}

@media (max-width: 620px) {
  header .fa-bars {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */